<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxxk.dao.KPointDao">

    <select id="getKpointIdsWithQidAndStem" resultType="com.zxxk.data.Data">
        SELECT q.id, qq.stem, qk.pointids FROM question_kpoints qk
        JOIN questions q on qk.questionid = q.id
        JOIN question_qmls qq on qk.questionid = qq.questionid
        WHERE applicationid = 'zujuan' AND courseid = #{courseId}
        <if test="labelNames != null">
            AND
            <foreach collection="labelNames" item="labelName" open="(" separator=" OR " close=")">
                find_in_set(#{labelName}, qk.pointids)
            </foreach>
        </if>

        limit #{start}, #{limit}
    </select>

    <select id="getTop20KpointIds" resultType="String">
        SELECT qk.pointid
        FROM question_kpoint qk
        JOIN questions q ON qk.questionid=q.id
        JOIN question_qmls qq ON q.id=qq.questionid
        WHERE courseid=#{courseId} group by pointid order by count(*) desc
        limit 0, 20
    </select>

    <select id="getAllKpointIds" resultType="String">
        SELECT id
        FROM knowledge_points
        WHERE courseid = #{courseId} AND type != 'NODE'
    </select>

    <select id="getKPointNames" resultType="String">
        SELECT NAME FROM knowledge_points
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getkpointNamesByQid" resultType="String">
        SELECT kp.name
        FROM question_kpoint qk
        JOIN knowledge_points kp ON kp.id=qk.pointid AND kp.type != 'NODE'
        WHERE qk.questionid = #{questionId}
    </select>

    <select id="getValidLabels" resultType="com.zxxk.domain.Label">
          SELECT kp.id name, kp.courseid courseid
          FROM knowledge_points kp
          JOIN kpoint_count kc on kp.id = kc.pointid
          WHERE kp.courseid = #{courseid} AND kp.type != "NODE" AND kc.count > 8000
    </select>

    <select id="getEvaluatingLabels" resultType="com.zxxk.domain.Label">
        SELECT l.*
        FROM ml_label l
        JOIN kpoint_count kc on l.name = kc.pointid
        WHERE l.courseid = #{courseid} AND kc.count > 8000
    </select>

    <select id="getKPointsWithCount" resultType="Map">
        SELECT pointid, count(*) count
        FROM question_kpoint
        GROUP BY pointid
    </select>

    <insert id="saveKPointCount">
        INSERT INTO kpoint_count VALUES
        <foreach collection="list" item="kpointCount" separator=",">
            (#{kpointCount.courseid}, #{kpointCount.pointid}, #{kpointCount.count})
        </foreach>
    </insert>

    <select id="getKPointById" resultType="Map">
        SELECT *
        FROM knowledge_points
        WHERE id = #{id}
    </select>
</mapper>