<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxxk.dao.LabelDao">

    <insert id="insert">
        INSERT INTO ml_label
        VALUES (#{name}, #{count}, #{courseId})
    </insert>

    <insert id="inserAll">
        INSERT INTO ml_label VALUES
        <foreach collection="list" item="label" separator=",">
            (#{label.name}, #{label.count}, #{label.courseId})
        </foreach>
    </insert>

    <select id="getAll" resultType="com.zxxk.domain.Label">
        SELECT *
        FROM ml_label
        WHERE courseid = #{courseId} and count &gt; 0
    </select>

    <delete id="clear">
        DELETE FROM ml_label WHERE courseid = #{courseId}
    </delete>

    <select id="get" resultType="com.zxxk.domain.Label">
        SELECT *
        FROM ml_label
        WHERE courseid = #{courseId} AND name = #{name}
    </select>

    <update id="update">
        UPDATE ml_label
        SET count = #{count}
        WHERE courseid = #{courseId} AND name = #{name}
    </update>

    <select id="getValidLabels" resultType="com.zxxk.domain.Label">
        SELECT *
        FROM ml_label l
        JOIN kpoint_count kc on l.name = kc.pointid
        WHERE l.courseid = #{courseId} AND kc.count > 8000
    </select>

    <select id="getLabelsByNames" resultType="com.zxxk.domain.Label">
        SELECT *
        FROM ml_label
        WHERE name IN
        <foreach collection="list" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>
</mapper>