<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxxk.dao.QuestionDao">

    <cache/>

    <select id="getQuestionCount" resultType="com.zxxk.domain.Data">
        SELECT count(*) FROM questions
    </select>
</mapper>